@import "/src/assets/styles/colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $color-chat;
  color: $color-text;
}