@import "/src/assets/styles/colors";

.list_users {
  display: flex;

  .collection-chats {
    width: 400px;
    overflow: hidden;
    background: $color-background;

    .title {
      border-bottom: 1px solid $color-line;

      .title-chats{
        color: $color-text;
        margin: 5px 0px 5px 15px;
        
        font: {
          weight: 400;
          size: 24px;
        }
      }
    }
  }
}