@import "/src/assets/styles/colors";

.input {
  margin-right: 10px;
  font-size: 18px;
  background: $color-interlocutors-message;
  color: $color-text;
  padding: 5px 12px;
  min-width: 608px;
  max-width: 608px;
  border: none;
  border-radius: 8px;
  resize: none;
  white-space: pre-wrap;
  max-height: 250px;
  overflow-y: auto;
}