@import '/src/styles/colors';

.container-chats {
  position: relative;
  flex: 1;
  overflow: auto;

  .wrapper-chats {
    height: 100vh;

    .chats {
      display: flex;
      justify-content: space-between;
      position: relative;
      border-top: 1px solid $color-close-button;
      border-bottom: 1px solid $color-close-button;

      &:hover {
        background: $color-close-button;
      }

      .menu-button {
        border: none;
        border-radius: 0;
        height: 100%;
        margin-right: 5px;

        &:hover {
          background: none;
        }
      }

      .menu-list {
        border: none;
        background: $color-list;

        .menu-item {
          background: $color-list-item;
          height: 32px;

          .delete-item-button {
            display: flex;
            align-items: center;
            padding: 5px 8px;
            border-radius: 5px;
            width: 100%;
            font-weight: 400;
            background: $color-close-button;
            color: $color-danger-zone;

            &:hover {
              background: $color-button-hover;
            }

            .delete-icon-button {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

}

.delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 5px;
  width: 59px;
  height: 40px;
  font-weight: 400;
  background: $color-close-button;
  color: $color-text;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color-button-hover;
  }
}
