$color-text: #ffffff;
$color-default: #000000;
$color-secondary: rgba(255, 255, 255, 0.6);
$color-background: #1c1d22;
$color-chat: #141416;
$color-counter-message: #f1e0ac;
$color-interlocutors-message: #26272d;
$color-my-message: #bdd2b6;
$color-line: #37393c79;
$color-placeholder: #a2acb4;
$color-scrollbar-background: #26272d20;
$color-scrollbar-foreground: #9d9d9d59;
$color-scrollbar-hover: #555;
$color-button-hover: #555;
$color-close-button: #2B2B2B;
$color-list: #2B2B2B;
$color-list-item: #2B2B2B;
$color-menu-title: #202123;
$color-danger-zone: #FF0000;
$color-add-chat-button: #8774E1;
$color-hover-add-chat-button: #9887e6;
$color-search: #26272D;
$color-last-message: #AAAAAA;
$color-working: #474a51;
$color-no-messages: rgba(71, 74, 81, 0.88);
$color-edit-message: rgba(88, 88, 91, 0.88);