@import '/src/styles/colors';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-no-messages;
    border-radius: 20px;
    width: 400px;
    height: 100px;

    .text {
      text-align: center;
      font-size: 20px;
      color: $color-text;
    }
  }
}