@import '/src/assets/styles/colors';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-background;
    border-bottom: 1px solid $color-line;

    .title_container {

        .title {
            margin: 5px 0px 5px 15px;
            color: $color-text;
            
            font: {
                weight: 400;
                size: 24px;   
            }
        }
    }

    .nav_container {

        .ul_container {
            
            .nav_link {
                text-decoration: none;
                font-size: 18px;
                color: $color-text;
                margin: 0px 15px 0px 0px;
            }
        }
    }
}

