@import "/src/styles/colors";

.card {

  .card-container {
    background: $color-chat;
    border-radius: 20px;
    margin-top: 10%;
    width: 400px;

    input {
      color: $color-text;
    }

    p, span {
      color: $color-scrollbar-foreground;
    }

    .stack-header {
      justify-content: center;
      align-items: center;

      .stack-title {
        align-items: center;
        color: $color-text;
        font-size: 25px;
      }
    }
  }

  .body {

    .form-data {
      margin-top: 5px;

      p {
        height: 25px;
      }

      span {
        color: $color-danger-zone;
      }
    }

    .button-show-password {
      color: $color-text;
      background: none;
      height: 1.75rem;
    }

    .button-enter {
      margin-top: 15px;
      width: 100%;
    }
  }
}

