@import "/src/styles/colors";

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 365px;
  height: 50px;

  .container-chat-data {
    display: flex;
    margin-left: 8px;

    .avatar-chat {
      margin-top: 2px;
      max-width: 45px;
      border-radius: 100%;
    }

    .container-data {
      width: 85%;
      margin-left: 7px;

      .title {
        font-size: 18px;
        color: $color-text;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .chat-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .text {
          font-size: 14px;
          color: $color-last-message;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .time {
          color: $color-last-message;
          margin: 0;
          font-size: 10px;
        }
      }
    }
  }
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 270px;
  margin: 0 20px;

  .title-no-message {
    font-size: 18px;
    color: $color-text;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-no-message {
    font-size: 14px;
    color: $color-last-message;
  }
}