@import "/src/assets/styles/colors";

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 360px;
  height: 50px;

  &:hover {
    background: $color-close-button;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}