@import "/src/styles/colors";

.container {

  .card-container {
    margin-top: 10%;
    width: 600px;
    background: $color-chat;
    border-radius: 20px;

    input {
      color: $color-text;
    }

    p, span {
      color: $color-scrollbar-foreground;
    }

    .title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        align-items: center;
        color: $color-text;
        font-size: 25px;
      }
    }
  }

  .body {

    .form-data {
      margin-top: 5px;

      p {
        height: 12px;
      }

      span {
        color: $color-danger-zone;
      }

      .bio-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .full-name {
          display: flex;
          flex-direction: column;
          width: 50%;
        }

        .birthday {
          display: flex;
          flex-direction: column;
          height: 60px;
          width: 45%;
        }
      }

      .contact-block {
        @extend .bio-block;

        .email {
          @extend .full-name;
        }

        .contact-number {
          @extend .birthday;

          .format-number {
            color: $color-text;
            font-size: 16px;
          }
        }
      }

      .corporate-block {
        @extend .bio-block;

        .organization {
          @extend .full-name;
        }

        .role {
          @extend .birthday;

          .select-role {
            color: $color-text;

            option {
              color: $color-default;
            }
          }
        }
      }
    }

    .button-show-password {
      color: $color-text;
      background: none;
      height: 1.75rem;
    }

    .button-enter {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px){
  .container {

    .card-container {
      background: $color-chat;
      width: 450px;
      border-radius: 20px;

      .title-wrapper {
        display: flex;
      }

      .body {

        .form-data {

          .bio-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            & > div {
              margin-top: 8px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}