@import "/src/assets/styles/colors";

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: $color-chat;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: relative;

    .form {
      display: flex;
      justify-content: center;
      overflow-y: auto;
      width: 100%;
      height: 100%;

      .messages {
        display: flex;
        flex-direction: column;
      }
    }

    .emojiPicker {
      position: absolute;
      bottom: 1px;
      left: 1px;
    }
  }

  .input {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid $color-line;
    padding: 10px;

    .form_input {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .button_emoji {
        margin-right: 10px;
        border: none;
        background: none;
        cursor: pointer;
      }

      .input_text {
        margin-right: 10px;
        font-size: 18px;
        background: $color-interlocutors-message;
        color: $color-text;
        padding: 8px 12px;
        min-width: 608px;
        max-width: 608px;
        height: 40px;
        border: none;
        border-radius: 8px;
        resize: none;
      }

      .button_send {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-interlocutors-message;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
      }
    }
  }
}
