@import '/src/styles/colors';

.container-search {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
  align-items: center;
  width: 100%;
  background: $color-menu-title;
  padding: 10px;

  .menu-button {
    background: $color-menu-title;
    border-radius: 50%;
    font-size: 25px;

    &:hover {
      background: $color-button-hover;
      border-radius: 50%;
    }
  }

  .menu-list {
    background: $color-list;
    border: none;

    .menu-items {
      display: flex;
      padding: 5px;

      .menu-item {
        margin-top: 0 !important;
        padding: 5px;

        &:hover {
          background: $color-button-hover;
          border-radius: 10px;
        }
      }
    }
  }
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    border-radius: 8px;
    background: $color-search;

    .search-form {
      display: flex;
      flex-direction: row;
      align-items: center;

      .input-search {
        width: 250px;
        border: none;
        font-size: 15px;
      }

      .icon {
        background: $color-search;
        border-radius: 50%;

        &:hover {
          border-radius: 50%;
          background: $color-button-hover;
        }
      }
    }
  }
}
