@import "/src/styles/colors";

.buttons-navigate {
  position: absolute;
  top: 0;
  left: 0;

  .button-go-back {
    background: none;
    color: $color-text;
    font-size: 15px;
    margin: 0;
    width: 10px;

    &:hover {
      background: none;
    }
  }

  .button-go-forward {
    background: none;
    color: $color-text;
    font-size: 15px;
    margin: 0;
    width: 10px;

    &:hover {
      background: none;
    }
  }
}