@import '/src/assets/styles/colors';

.organization {
    display: flex;
    align-items: center;
    background: $color-background;

    .organization__link {
        font-size: 20px;
        color: $color-text;
        text-decoration: none;
    }
}