@import "/src/styles/colors";

.delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 5px;
  width: 59px;
  height: 40px;
  font-weight: 400;
  background: $color-close-button;
  color: $color-text;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color-button-hover;
  }
}
