@import "/src/assets/styles/colors";

.card-container {
  margin-top: 10%;
  width: 400px;
  background: $color-chat !important;
  border-radius: 20px !important;

  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      align-items: center;
      color: $color-text;
      font-size: 25px;
    }
  }
}