$color-text: #ffffff;
$color-default: #000000;
$color-secondary: rgba(255, 255, 255, 0.6);
$color-background: #1c1d22;
$color-chat: #141416;
$color-counter-message: #f1e0ac;
$color-interlocutors-message: #26272d;
$color-my-message: #bdd2b6;
$color-line: #37393c;
$color-placeholder: #a2acb4;
$color-scrollbar-background: #26272d20;
$color-scrollbar-foreground: #9d9d9d59;
$color-scrollbar-hover: #555;