$color-text: #FFFFFF;;
$color-secondary: rgba(255, 255, 255, 0.6);
$color-background: #1C1D22;
$color-chat: #141416;
$color-counter-message: #F1E0AC;
$color-interlocutors-message: #26272D;
$color-my-message: #BDD2B6;
$color-line: #37393C;