@import "/src/styles/colors";

.container {

  .button-question {
    background: none !important;
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
    color: $color-text;

    &:hover {
      color: $color-secondary;
    }
  }

  .info {
    font-size: 16px;
    font-weight: 400;
    background: $color-background !important;
    color: $color-text !important;
  }
}
