@import '/src/styles/colors';

.my-message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  word-break: break-all;
  margin-right: 20px;
  width: 98%;

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;

    .polygon {
      width: 17px;
      height: 15px;
      background: $color-my-message;
      clip-path: polygon(100% 0, 0% 100%, 0 0);
      border-radius: 0 5px 0 0;
      margin: 3px 0 3px 0;
    }
  
    .my-box-context {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      position: relative;
      max-width: 400px;
      margin: 3px 0 3px 0;
      padding: 5px 10px;
      border-radius: 6px 0 6px 6px;
      background: $color-my-message;
  
      .my-context-message {
        margin-right: 5px;
        font-size: 14px;
        border: none;
      }
  
      .my-context-time {
        display: flex;
        justify-content: flex-end;
        min-width: 40px;
        margin-right: 5px;
        font-size: 10px;
        color: $color-default;
      }
    }
  }
}

.opponent-message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 17px;
  width: 98%;

  .container {
    display: flex;
    align-items: flex-start;
    
    .polygon {
      width: 17px;
      height: 15px;
      background: $color-interlocutors-message;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
      border-radius: 5px 0 0 0;
      margin: 3px 0 3px 0;
    }
    
    .opponent-box-context {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      max-width: 400px;
      margin: 3px 0 3px 0;
      padding: 5px 10px;
      border-radius: 0 6px 6px 6px;
      background: $color-interlocutors-message;
      word-break: break-word;
  
      .opponent-context-message {
        color: $color-text;
        margin-right: 5px;
        font-size: 14px;
        word-wrap: break-word;
        border: none;
      }
  
      .opponent-context-time {
        display: flex;
        justify-content: flex-start;
        color: $color-text;
        min-width: 40px;
        font-size: 10px;
      }
    }
  }
}
